# Import Pandas

In [ ]:
import pandas as pd

# Read JSON files using pd.read_json()

In [ ]:
pd.read_json('train.json')

# Load JSON files using URL

In [ ]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

# Working with SQL 

connect using xampp and create a database named 'testDB' and a table named 'employees' with columns 'id', 'name', and 'age'. Then, you can use the following code to read data from the SQL table into a Pandas DataFrame:

# Install mysql-connector-python and import mysql.connector

In [ ]:
%pip install mysql-connector-python
import mysql.connector

# Connect to the database

In [ ]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="world"
)

In [ ]:
pd.read_sql('SELECT * FROM city', conn)

In [ ]:
pd.read_sql('SELECT * FROM country WHERE LifeExpectancy > 60', conn)